<header>
  <div class="container_header">
    <a href="#" class="logo"><img src="../../../assets/images/logo_big.svg" alt="logoo" /></a><a href="#"
      class="logo_small"><img src="../../../assets/images/logo_small.svg" alt="logoo" /></a>
    <div class="header_buttons">
      <button class="loup_search">
        <img src="../../../assets/images/loup.svg" alt="loup" /></button><button class="hamburger">
        <img src="../../../assets/images/menu.svg" alt="menu" />
      </button>
    </div>
    <div class="header_bntt_tablet">
      <button *ngIf="isUserLogged" class="btn_settings">
        <img src="../../../assets/images/settings.svg" alt="settings" /></button>
      <button *ngIf="isUserLogged" class="btn_email">
        <img src="../../../assets/images/mail.svg" alt="mail" /></button>
      <button *ngIf="isUserLogged" class="btn_user">
        <img src="../../../assets/images/user.svg" alt="mail" />
      </button>
      <p *ngIf="isUserLogged" class="user_name">{{user.name}} {{user.surname}}</p>
      <a *ngIf="isUserLogged" class="log-out" (click)=logout()>Wyloguj</a>
      <a *ngIf="!isUserLogged" routerLink='/login' class="log-out">Zaloguj</a>
    </div>
  </div>
</header>
<nav class="nav_bottom" *ngIf="isUserLogged">
  <div class="nav-btn-bottom container_nav">
    <ul class="items">
      <li class="item  ">
        <a routerLink='/products' routerLinkActive='active'>produkty</a>
      </li>
      <li class="item ">
        <a routerLink='/payment' routerLinkActive='active'>platność</a>
      </li>
    </ul>

    <div class="input_search">
      <input type="text" placeholder="Wyszukaj" /><img src="../../../assets/images/icon-search-red.svg" alt="search" />
    </div>
  </div>
</nav>
