<section class="modal-wrap ">
  <div class="main">
    <form class="logIn ">
      <div class="container">
        <div class=" container_input">
          <label class="userName control">Nazwa Użytkownika</label>
          <input type="text" class="input_class" placeholder="Nazwa użytkownika" id="acc_number" />
          <span class="info_about_error">Wpisz poprawną nazwe użytkownika</span>
        </div>
        <div class=" container_input">
          <label class="userPassword control">Hasło </label>
          <input type="text" class="input_class" placeholder="Hasło" id="acc_number" />
          <span class="info_about_error">Wpisz poprawne hasło</span>

          <div class="click_next">
            <a class="btn_next" (click)=logoin() routerLink='/products'>Zaloguj</a>
          </div>
        </div>
      </div>


    </form>
  </div>
</section>
