<!-- --------------modal popup payment start----------------- -->

<section class="modal-wrap modal-none">
  <div class="top">
    <div class="title-name container">
      <h1>Przelew krajowy</h1>
      <a routerLink='/payment'><img src="../../../../assets/images/clozeX.svg" class="closeX" alt="close" /></a>
    </div>
  </div>

  <div class="main">

    <form [formGroup]="newPaymentForm" class="transferForm">
      <div class="container">
        <div class="select_account container_input">
          <label class="choose_account control"> Z rachunku </label>
          <select id="choose_account" class="input_class">
            <option value="my-first-acc">Moje Konto Przekorzystne 12 734,56 PLN</option>
            <option value="my-secacc"> Moje Konto Przekorzystne2 </option>
            <option value="my-third-acc"> Moje Konto Przekorzystne3 </option>
          </select>
        </div>

        <div class="container_input">
          <label class="acc-number control">Na rachunek </label>
          <input formControlName="accNumber" required appAccountNumberValidator type="text" class="input_class"
            placeholder="Wpisz rachunek odbiorcy" id="acc_number" />
          <p *ngIf="newPaymentForm.controls['accNumber'].invalid && (newPaymentForm.controls['accNumber'].dirty || newPaymentForm.controls['accNumber'].touched)"
            class="info_about_error">
            <span
              *ngIf="!newPaymentForm.controls.accNumber?.errors.required && newPaymentForm.controls.accNumber?.errors.accNumber">Wpisz
              poprawny numer konta</span>
            <span *ngIf="newPaymentForm.controls.accNumber?.errors.required">Wymagany numer konta</span>
          </p>

        </div>

        <div class="changing_order">
          <div class=" container_input amount_to_transfer">
            <label class="amount control">Kwota przelewu</label>
            <input formControlName="amount" type="text" class="input_class amount_input" placeholder="PLN"
              id="amount" />
            <p *ngIf="newPaymentForm.controls['amount'].invalid && (newPaymentForm.controls['amount'].dirty || newPaymentForm.controls['amount'].touched)"
              class="info_about_error">
              <!-- <span *ngIf="newPaymentForm.controls.amount?.errors.amount">Wpisz poprawne hasło</span> -->
              <span *ngIf="newPaymentForm.controls['amount'].errors.required">Wymagana kwota</span>
            </p>
          </div>

          <div class="container_input adress_of_recipient">
            <label class="adress-recipient control">Adres odbiorcy (Opcjonalnie)</label>
            <input formControlName="recipientsAddress" type="text" class="input_class"
              placeholder="Wpisz adres odbiorcy" id="adress_recipient" />
            <!-- <p *ngIf="newPaymentForm.controls['userPassword'].invalid && (newPaymentForm.controls['userPassword'].dirty || newPaymentForm.controls['userPassword'].touched)"
              class="info_about_error">
              <span *ngIf="newPaymentForm.controls.userPassword?.errors.userPassword">Wpisz poprawne hasło</span>
              <span *ngIf="newPaymentForm.controls['userPassword'].errors.required">Wymagane hasło</span>
            </p> -->
          </div>

          <div class="container_input transfer_title">
            <label class="title-transfer control">Tytułem </label>
            <input formControlName="title" type="text" class="input_class" [(ngModel)]="DataForm.title"
              placeholder="Placeholder" id="title_transfer" />
            <p *ngIf="newPaymentForm.controls['title'].invalid && (newPaymentForm.controls['title'].dirty || newPaymentForm.controls['title'].touched)"
              class="info_about_error">
              <!-- <span *ngIf="newPaymentForm.controls.title?.errors.title">Wpisz poprawne hasło</span> -->
              <span *ngIf="newPaymentForm.controls['title'].errors.required">Wymagany tytuł</span>
            </p>
          </div>
        </div>

        <div class="container_input">
          <label class="save-as-standing control">
            <input formControlName="isStandingOrder" type="checkbox" name="standing_order" id="save_as_standing" />
            Zapisz jako zlecenie stałe
            <!-- <span class="checkmark"></span> -->
            <span class="control__indicator"></span>
          </label>
        </div>

        <div class="container_input order_name">
          <label class="name-order control">Nazwa zlecenia </label>
          <input formControlName="nameOrder" type="text" class="input_class" placeholder="Placeholder" id="name_order"
            checked="checked" />
          <p *ngIf="newPaymentForm.controls['nameOrder'].invalid && (newPaymentForm.controls['nameOrder'].dirty || newPaymentForm.controls['nameOrder'].touched)"
            class="info_about_error">
            <!-- <span *ngIf="newPaymentForm.controls.namerder?.errors.namerder">Wpisz poprawne hasło</span> -->
            <span *ngIf="newPaymentForm.controls['nameOrder'].errors.required">Wymagany tytuł</span>
          </p>
        </div>
      </div>
      <div class="footer_in_window_pay">
        <div class="click_next">
          <img src="../../../../assets/images/arrow_right_white.svg" alt="right_arrow" class="right_arrow" />
          <button type="submit" [disabled]="newPaymentForm.invalid" class="btn_next" (click)="submit()">Dalej</button>
        </div>
      </div>

    </form>
  </div>
</section>
<!-- --------------modal popup payment end----------------- -->
