@import '../../../../styles/core';


.container {
  margin-left: 20px;
  margin-right: 20px;


  @media(min-width:1352px) {
    margin-left: 266px;
    margin-right: 266px;
  }
}

.modal-wrap {
  position: absolute;
  top: 0px;
  width: 100%;
  // height: 90%;
  z-index: 100;
  //display: block;

  @media(min-width:768px) {
    margin-top: 20px;
  }

  .top {
    //width: 360px;
    height: 60px;
    background-color: #f4f4f4;
    line-height: 60px;

    @media(min-width:768px) {
      height: 82px;
      line-height: 82px;
    }


    .title-name {
      display: flex;
      justify-content: space-between;
      font-size: 16px;
      font-weight: bold;
      color: #000000;

      .closeX {
        // display: block;
      }
    }
  }

  .main {
    background-color: $white;
    //padding-bottom: 200px;
    position: relative;
    // height: 100%;

    .transferForm {
      position: relative;
      height: 110vh;
      overflow: hidden;

      .container_input {
        display: flex;
        flex-direction: column;
        margin: 0 auto;

        .control {
          margin-top: 30px;
          margin-bottom: 9px;
          text-transform: uppercase;
          font-size: 11px;
          letter-spacing: 1.1px;
          color: $second-brand-color;
        }

        .name-order {
          margin-top: 11px
        }

        .input_class {
          //width: 320px;
          height: 50px;
          border-radius: 4px;
          border: solid 1px #b4b4b4;
          padding-left: 20px;
          padding-right: 20px;
          background-color: $white;
          font-size: 16px;
          color: $second-brand-color;

          &::placeholder {

            font-size: 16px;
            color: #858585;
          }
        }

        // start  styling checkbox   //
        .save-as-standing {
          display: block;
          position: relative;
          padding-left: 44px;
          margin-bottom: 5px;
          cursor: pointer;
          font-size: 14px;

          // &:hover {
          //     input~.control__indicator {
          //         background-color: yellow;
          //     }
          // }

          input {
            position: absolute;
            opacity: 0;
            cursor: pointer;
            height: 0;
            width: 0;

            &:checked~.control__indicator {

              background-color: $brand-color;

              &:after {
                display: block;
              }
            }
          }
        }

        .control__indicator {
          position: absolute;
          top: -5px;
          left: 0;
          height: 24px;
          width: 24px;
          background-color: $brand-color;
          border-radius: 4px;
          border: solid 1px $brand-color;

          &:after {
            content: "";
            position: absolute;
            display: none;
            left: 8px;
            top: 4px;
            width: 5px;
            height: 10px;
            border: solid white;
            border-width: 0 1px 1px 0;
            transform: rotate(45deg);
          }
        }

        // end  styling checkbox   //
        .amount_input {
          &::placeholder {
            text-align: right;
          }
        }
      }

      @media(min-width:768px) {
        .changing_order {
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          justify-content: flex-start;

          .amount_to_transfer {
            order: 2;
            // flex: 0 1 230px;
            // flex-basis: 230px;
            width: 230px;
            align-self: auto;
          }

          .adress_of_recipient {
            order: 1;
            // flex: 0 1 100%;
            flex-basis: 100%;
            align-self: auto;
          }

          .transfer_title {
            order: 3;
            // flex: 1 0 auto;
            flex-grow: 1;
            align-self: auto;
            margin-left: 20px;
          }

        }

        .order_name {
          width: 230px;
          margin: 0;
        }

      }

      .info_about_error {
        padding-left: 20px;
        height: 50px;
        line-height: 50px;
        color: $white;
        border-radius: 4px;
        border: solid 1px #ac1419;
        background-color: #ac1419;

      }
    }
  }

  .footer_in_window_pay {
    height: 73px;
    box-shadow: 0 0 10px 0.2px rgba(0, 0, 0, 0.2);
    background-color: $white-two;
    //margin-top: 200px;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0px;


    @media(min-width: 768px) {
      height: 102px;
    }

    @media(min-width: 1352px) {
      padding-left: 266px;
      padding-right: 266px;
    }

    .click_next {
      position: relative;
      top: -16px;
      display: flex;
      flex-direction: column;
      margin: 0 auto;
      width: 104px;
      height: 104px;
      background-color: $brand-color;
      border-radius: 50%;
      box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);

      @media(min-width: 768px) {
        width: 230px;
        height: 50px;
        border-radius: 4px;
        top: 26px;
        margin-right: 20px;
      }

      .right_arrow {
        margin-top: 27px;
        margin-bottom: 5px;

        @media(min-width:768px) {
          display: none;
        }
      }

      .btn_next {
        color: white;
        border: none;
        background-color: transparent;
        text-transform: uppercase;

        &:disabled {
          background-color: rgba($brand-color, 0.5);
        }

        @media(min-width:768px) {
          line-height: 50px;
        }

      }

    }
  }
}
