<router-outlet></router-outlet>
<main class="container_main">
  <div class="content">
    <div *ngFor="let account of accounts" class="all_sections">
      <div class="informations">
        <div class="inforamtion_account">
          <p class="title">{{account.accountName}}</p>
          <h1 class="description">
            Moje konto przekorzystne<span class="account-arrow"><img src="../../../assets/images/icon-right-arrow.svg"
                alt="arrow" /></span>
          </h1>
          <p class="number_bank">{{account.accountNumber}}</p>
        </div>
        <div class="information_account2">
          <p class="available_amount">dostęne środki</p>
          <p class="amount">{{amountCalculated | formattingAmount}} PLN</p>
        </div>
      </div>

      <section>
        <div class="twoButtons">
          <a class="newPay" routerLink='new-payment' routerLinkActive='active'>nowa płatność</a>
          <a href="#" class="history">historia</a>
        </div>
      </section>

      <section>
        <div class="table_of_payment">
          <div class="rows_of_history">
            <div class="titles_of_column_tablet">
              <p>data</p>
              <p>type</p>
              <p>odbiorca/nadawca/tytuł</p>
              <p>kategoria</p>
              <p>Kwota</p>
            </div>
            <!-- first row -->
            <div
              *ngFor="let row of account.transactions | transformObjectToArr | slice:start:end ; let change of details"
              class="name_items_in_column" (click)="addClass(change)">
              <div class="kind_data">
                <p class="data">{{row.date | date:'dd.MM'}}</p>
              </div>
              <div class="image_of_typ_pay">
                <img *ngIf="row.type !== 'from'" src="../../../assets/images/incoming.svg" class="incoming_cash"
                  alt="incoming_cash" />
                <img *ngIf="row.type === 'from'" src="../../../assets/images/outcash.svg" class="incoming_cash"
                  alt="incoming_cash" />
              </div>
              <div class="name_title">
                <p>{{row.recipientName}} {{row.recipientSurname}}</p>
                <p>{{row.title}}</p>
              </div>
              <div *ngIf="row.type !== 'from'" class="category_of_transaction category_of_transaction_in ">
                <p>wpływy wewn.</p>
              </div>
              <div *ngIf="row.type === 'from'" class="category_of_transaction category_of_transaction_out">
                <p>Przelew wychodzący</p>
              </div>
              <div *ngIf="row.type === 'from'" class="amount_PLN">
                <p>{{row.amount | formattingAmount}} zł</p>
              </div>
              <div *ngIf="row.type !== 'from'" class="amount_PLN">
                <p>{{row.amount | formattingAmount}} zł</p>
              </div>
              <div class="details-of-payment " [class.active]="change.active" name="change">
                <div class="details">
                  <div class="typeTransfer">
                    <p class="description-field">typ przelewu:</p>
                    <p *ngIf="row.type === 'from'" class="category_of_transaction_out filled-field">Przelew wychodzący
                    </p>
                    <p *ngIf="row.type !== 'from'" class=" category_of_transaction_in filled-field ">Przelew
                      przychodzący</p>
                  </div>
                  <div class="personAccNumber">
                    <p class="description-field">numer rachunku:</p>
                    <p class="filled-field">{{row.accNumber}}</p>
                  </div>
                  <div class="personInfo">
                    <p class="description-field">imię i nazwisko:</p>
                    <p class="filled-field">{{row.recipientName}} {{row.recipientSurname}}</p>
                  </div>
                  <div class="personAddress">
                    <p class="description-field">Adres:</p>
                    <p class="filled-field">{{row.recipientsAddress}}</p>
                  </div>
                  <div class="transactionTitle">
                    <p class="description-field">Tytuł:</p>
                    <p class="filled-field">{{row.title}}</p>
                  </div>
                </div>
              </div>
            </div>

            <!-- end first row -->
          </div>
        </div>
        <a (click)="showMore()" class="see-more">Pokaż więcej</a>
      </section>
    </div>
  </div>
  <aside>
    <div class="offer-for-you">
      <h2 class="offer-title">Masz wolne środki</h2>
      <p class="offer-description">
        Na swoim koncie masz dużo wolnych środków. Warto przenieść je na
        lokatę i uchronić przed inflacją
      </p>
      <a href="#" class="call-to-action">call to action</a>
      <div class="white-points">
        <div class="white-point"></div>
        <div class="white-point"></div>
        <div class="white-point"></div>
      </div>
    </div>
    <div class="spending-analysis">
      <p class="title-analysis-spending">Analiza wydatków</p>

      <div class="container">
        <div class="card">
          <div class="card-body p-1 m-0">
            <canvas id="canvas"></canvas>
          </div>
        </div>
      </div>
    </div>
  </aside>
</main>
