<router-outlet></router-outlet>
<main class="container-main">
  <div class="content">
    <div *ngFor="let account of accounts" class="all-sections">
      <div class="informations">
        <div class="inforamtion-account">
          <p class="title">{{account.accountName}}</p>
          <h1 class="description">
            Moje konto przekorzystne<span class="account-arrow"><img src="../../../assets/images/icon-right-arrow.svg"
                alt="arrow" /></span>
          </h1>
          <p class="number-bank">{{account.accountNumber}}</p>
        </div>
        <div class="information-account2">
          <p class="available-amount">dostęne środki</p>
          <p class="amount">{{amountCalculated | formattingAmount}} PLN</p>
        </div>
      </div>

      <section>
        <div class="twoButtons">
          <a class="newPay" routerLink='new-payment' routerLinkActive='active'>nowa płatność</a>
          <a href="#" class="history">historia</a>
        </div>
      </section>

      <section>
        <div class="table-of-payment">
          <div class="rows-of-history">
            <div class="titles-of-column-tablet">
              <p>data</p>
              <p>type</p>
              <p>odbiorca/nadawca/tytuł</p>
              <p>kategoria</p>
              <p>Kwota</p>
            </div>
            <!-- first row -->
            <div
              *ngFor="let row of account.transactions | transformObjectToArr | slice:start:end ; let change of details"
              class="name-items-in-column" (click)="addClass(change)">
              <div class="kind-data">
                <p class="data">{{row.date | date:'dd.MM'}}</p>
              </div>
              <div class="image-of-typ-pay">
                <img *ngIf="row.type !== 'from'" src="../../../assets/images/incoming.svg" class="incoming-cash"
                  alt="incoming-cash" />
                <img *ngIf="row.type === 'from'" src="../../../assets/images/outcash.svg" class="incoming-cash"
                  alt="incoming-cash" />
              </div>
              <div class="name-title">
                <p>{{row.recipientName}} {{row.recipientSurname}}</p>
                <p>{{row.title}}</p>
              </div>
              <div *ngIf="row.type !== 'from'" class="category-of-transaction category-of-transaction-in ">
                <p>wpływy wewn.</p>
              </div>
              <div *ngIf="row.type === 'from'" class="category-of-transaction category-of-transaction-out">
                <p>Przelew wychodzący</p>
              </div>
              <div *ngIf="row.type === 'from'" class="amount-PLN">
                <p>{{row.amount | formattingAmount}} zł</p>
              </div>
              <div *ngIf="row.type !== 'from'" class="amount-PLN">
                <p>{{row.amount | formattingAmount}} zł</p>
              </div>
              <div class="details-of-payment " [class.active]="change.active" name="change">
                <div class="details">
                  <div class="typeTransfer">
                    <p class="description-field">typ przelewu:</p>
                    <p *ngIf="row.type === 'from'" class="category-of-transaction-out filled-field">Przelew wychodzący
                    </p>
                    <p *ngIf="row.type !== 'from'" class=" category-of-transaction-in filled-field ">Przelew
                      przychodzący</p>
                  </div>
                  <div class="personAccNumber">
                    <p class="description-field">numer rachunku:</p>
                    <p class="filled-field">{{row.accNumber}}</p>
                  </div>
                  <div class="personInfo">
                    <p class="description-field">imię i nazwisko:</p>
                    <p class="filled-field">{{row.recipientName}} {{row.recipientSurname}}</p>
                  </div>
                  <div class="personAddress">
                    <p class="description-field">Adres:</p>
                    <p class="filled-field">{{row.recipientsAddress}}</p>
                  </div>
                  <div class="transactionTitle">
                    <p class="description-field">Tytuł:</p>
                    <p class="filled-field">{{row.title}}</p>
                  </div>
                </div>
              </div>
            </div>

            <!-- end first row -->
          </div>
        </div>
        <a (click)="showMore()" class="see-more">Pokaż więcej</a>
      </section>
    </div>
  </div>
  <aside>
    <div class="offer-for-you">
      <h2 class="offer-title">Masz wolne środki</h2>
      <p class="offer-description">
        Na swoim koncie masz dużo wolnych środków. Warto przenieść je na
        lokatę i uchronić przed inflacją
      </p>
      <a href="#" class="call-to-action">call to action</a>
      <div class="white-points">
        <div class="white-point"></div>
        <div class="white-point"></div>
        <div class="white-point"></div>
      </div>
    </div>
    <div class="spending-analysis">
      <p class="title-analysis-spending">Analiza wydatków</p>

      <div class="container">
        <div class="card">
          <div class="card-body p-1 m-0">
            <canvas id="canvas"></canvas>
          </div>
        </div>
      </div>
    </div>
  </aside>
</main>
