* {
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  background-color: #f4f4f4;
  position: relative;
  height: 100%;
}

.global_container {
  max-width: 1220px;
  margin: 0 auto;
}
