<footer class="footer">
  <div class="container-footer">
    <div class="list-links">
      <ul class="links">
        <li class="item"><a href="#">DM Pekao</a></li>
        <li class="item"><a href="#">CDM Pekao S.A.</a></li>
        <li class="item"><a href="#">Pioneer Pekao TFI S.A.</a></li>
        <li class="item"><a href="#">Pekao Pioneer PTE S.A.</a></li>
        <li class="item"><a href="#">Pekao Leasing Sp. z o.o.</a></li>
      </ul>
      <p class="copyright">Copyright © 2002 - 2019 Bank Pekao S.A.</p>
    </div>

    <p class="bank-credibility">
      Bank Polska Kasa Opieki Spółka Akcyjna z siedzibą w Warszawie, ul.
      Grzybowska 53/57, 00-950 Warszawa, wpisany do rejestru przedsiębiorców
      w Sądzie Rejonowym dla m.st. Warszawy w Warszawie, XII Wydział
      Gospodarczy Krajowego Rejestru Sądowego, KRS: 0000014843, NIP:
      526-00-06-841, REGON: 000010205, wysokość kapitału zakładowego i
      kapitału wpłaconego: 262 470 034 zł.
    </p>
  </div>
</footer>
